@charset "utf-8";
/* CSS Document */
/* required styles */

/* First breakpoint is 768px. 3 column layout. Tiles 250x250 pixels at the breakpoint. */
    .portada .ui-listview .ui-li.ui-btn {
        float: center;
        
        height: 75px;
             
        margin-left: auto;
        border-width: 2;
        opacity: 0.6; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
    }

    /* If you don't want a border at all, just set "border: none;" here to negate the semi white top border 
    .portada .ui-listview .ui-li.ui-btn-inner {
        border: inherit;
        border-width: 1px;
        margin: -1px;
    }
    */
    .portada .ui-listview .ui-btn-inner,
    .portada .ui-listview .ui-btn-text,
    .portada .ui-listview .ui-link-inherit {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #0066cc;


    }

    /* Hide the icon */
    .portada .ui-listview .ui-icon {
        display: none;
    }
    /* Make text wrap. */
    .portada .ui-listview .ui-li-heading,
    .portada .ui-listview .ui-li-desc {
        white-space: normal;
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0;
        font-size: x-large;
        
    }
    /* Text position  */
    .portada .ui-listview .ui-li-heading {
        margin: auto;
                
    }

    
    /* If you want to add shadow, don't kill the focus style. */
    .portada .ui-listview .ui-btn:not(.ui-focus) {
        -moz-box-shadow: 0px 0px 9px #111;
        -webkit-box-shadow: 0px 0px 9px #111;
        box-shadow: 0px 0px 9px #111;
    }
   
    /* Animate focus and hover style, and resizing. */
    .portada .ui-listview .ui-btn {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    /* Thumb */
    .portada .ui-listview .ui-li-thumb{
        width: 56px;
        height: 56px  ;
        margin-left: 10%;
        margin-top: 10px;

    }

.main {
height: inherit;
width: 100%;
background-color:#fff ;
border-width: 1px;
border-style: solid;
border-color: #2489ce;
-webkit-border-radius: 20px 0px 20px 0px;
-moz-border-radius: 20px 0px 20px 0px;
-o-border-radius: 20px 0px 20px 0px;
-ms-border-radius: 20px 0px 20px 0px;
border-radius: 20px 0px 20px 0px;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-o-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
text-align: center;
color:#2489ce; 
}
.main2 {
height: inherit;
width: inherit;
background-color:#2489ce ;
border-width: 1px;
border-style: solid;
border-color: #2489ce; /* or hex color code #000000 */
-webkit-border-radius: 20px 0px 20px 0px;
-moz-border-radius: 20px 0px 20px 0px;
-o-border-radius: 20px 0px 20px 0px;
-ms-border-radius: 20px 0px 20px 0px;
border-radius: 20px 0px 20px 0px;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-o-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
text-align:justify;
color:#fff;
text-shadow:none; 
padding-left: 20px;
padding-right: 20px;

}
.main3{
height: inherit;
width: inherit;
background-color:#009933; 

border-width: 1px;
border-style: solid;
border-color: #009933; 

-webkit-border-radius: 20px 0px 20px 0px;
-moz-border-radius: 20px 0px 20px 0px;
-o-border-radius: 20px 0px 20px 0px;
-ms-border-radius: 20px 0px 20px 0px;
border-radius: 20px 0px 20px 0px;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-o-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;  
text-align:justify;
color:#fff;
text-shadow:none; 
padding-left: 20px;
padding-right: 20px;	
}	
.slideshow {
  width: 100%;
  height: 350px;
  }
/* ... */
.slides img {
  width: 100%;
 height: 100%;
}

#fotos {
	max-width: 600px;
	
	
	margin-right: auto;
	margin-left: auto;
	
}

div.msn
  {
  width:400px;
  height:180px;
  margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
div.msn p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }

@media only screen and (max-width: 480px) {

		.slideshow {
		  width: 100%;
		  height: 200px;
		  }
		/* ... */
		.slides img {
		  width: 100%;
		 height: 100%;
		}

		#fotos {
					
			margin-left: auto;
			margin-right: auto;
		}


	}

/*Iconos*/
.ui-icon-earth {
	background-image:url(../jquery/images/earth.png);
	background-repeat:no-repeat;
	rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-list {
	background-image:url(../jquery/images/list.png);
	background-repeat:no-repeat;
	rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-plant {
	background-image:url(../jquery/images/plant.png);
	background-repeat:no-repeat;
	rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-about {
	background-image:url(../jquery/images/about.png);
	background-repeat:no-repeat;
	rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-casette {
	background-image:url(../jquery/images/casette.png);
	background-repeat:no-repeat;
	rgba(0, 0, 0, 0.4) !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	// declarations go here
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-earth {
		background: url(../jquery/images/earth@2x.png) no-repeat rgba(0, 0, 0, 0.4) !important;
		background-size: 18px 18px;
	}	
		.ui-icon-list {
		background: url(../jquery/images/list@2x.png) no-repeat rgba(0, 0, 0, 0.4) !important;
		background-size: 18px 18px;
	}	
		.ui-icon-plant {
		background: url(../jquery/images/plant@2x.png) no-repeat rgba(0, 0, 0, 0.4) !important;
		background-size: 18px 18px;
	}
		.ui-icon-about {
		background: url(../jquery/images/about@2x.png) no-repeat rgba(0, 0, 0, 0.4) !important;
		background-size: 18px 18px;
	}

		.ui-icon-casette {
		background: url(../jquery/images/casette@2x.png) no-repeat rgba(0, 0, 0, 0.4) !important;
		background-size: 18px 18px;
	}		
}